<nav>
    <!-- --------- PRIMEIRO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Ford Mustang Shelby GT 500</span>
            <strong>El poderio americano</strong>
            <button>$2,574,900 </button>
            </p>
        </ul>
    
    
    <!-- --------- SEGUNDO PROJETO ------- -->	
        <ul>
            <p class="info">
                <span>Dodge Charger SRT Hellcat Widebody</span>
            <strong>El sedán Dodge más potente</strong>
                <button>＄1,685,000</button>
            </p>
        </ul>
        
        <!-- --------- TERCEIRO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Dodge Challenger Widebody RedEye 8AT</span>
            <strong>Épico por donde se le mire</strong>
                <button>＄2,168,000</button>
            </p>
        </ul>
        
        <!-- --------- QUARTO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Chevrolet Camaro ZL1</span>
            <strong>Incomparable</strong>
                <button>$2,032,600</button>
            </p>
        </ul>
        
        <!-- --------- QUINTO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Alfa Romeo Giulia QV</span>
            <strong>Simplemente Inalcanzable</strong>
                <button>$2,150,000</button>
            </p>
        </ul>
        
        <!-- --------- SEXTO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Jaguar F-Type</span>
            <strong>Pasión por la singularidad</strong>
                <button>$1,930,000</button>
            </p>
        </ul>
        
        <!-- --------- SETIMO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Audi R8 Coupe</span>
            <strong>De las pistas a la producción de serie</strong>
                <button>$3,149,900</button>
            </p>
        </ul>
        
        <!-- --------- OITAVO PROJETO ------- -->	
        <ul>
            <p class="info">
            <span>Porsche 911 GT3</span>
            <strong>Carpe secundum.</strong>
                <button>$3,628,000</button>
            </p>
        </ul>
    </nav>